{% extends "screener/base.html" %}
{% load static %}
{% block content %}

<div class="m-3 p-3">

    <div class="m-auto text-center">
        <h1>{{name}}</h1>
        <h3> ticker: {{ticker}}</h3>
    </div>
    <div class="d-flex flex-row m-auto p-3 justify-content-around">
        <div class=" col-5 fs-5">{{summary}}</div>
        <ul class=" col-5 m-auto list-group">
            <li class="list-group-item active"> General Info </li>
            <li class="list-group-item"><span>sector: </span><span>{{sector}}</span></li>
            <li class="list-group-item"><span>industry: </span><span>{{industry}}</span></li>
            <li class="list-group-item"><span>phone: </span><span>{{phone}}</span></li>
            <li class="list-group-item"><span>website: </span><span><a href="{{website}}">{{website}}</a></span></li>
            <li class="list-group-item"><span>country: </span><span>{{country}}</span></li>
            <li class="list-group-item"><span>state: </span><span>{{state}}</span></li>
            <li class="list-group-item"><span>city: </span><span>{{city}}</span></li>
            <li class="list-group-item"><span>address: </span><span>{{address}}</span></li>
            <li class="list-group-item"><span>employees: </span><span>{{employees}}</span></li>

            <li class="list-group-item active"> Indices </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Current Ratio (CR): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Quick Ratio (QR): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>fixed asset coverage: </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Indebtment Ratio (RI): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>interest expense coverage: </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Debt (ROD): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Equity (ROE): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Asset (ROA): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Sales (ROS): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Investment (ROI): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Return On Turnover (ROT): </span><span></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>active circulating rotation: </span><span></span>
            </li>
        </ul>

    </div>

</div>

{% endblock %}